<div class="share shadow text-primary">
  <span class="label">¡Comparte!</span>
  <span class="share-links">
    <a
      href="https://twitter.com/intent/tweet?text=%C2%A1No%20te%20aburras!%20Podcasts%20independientes%20en%20espa%C3%B1ol%20para%20escuchar%20en%20casa%20durante%20la%20contingencia%20sanitaria.%0A%0Ahttps%3A//escuchaen.casa"><i
        class="fa fa-twitter"></i> <span>Twitter</span></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//escuchaen.casa"><i
        class="fa fa-facebook-square"></i> <span>Facebook</span></a>
  </span>
</div>