<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@axelvaldezmx">
  <meta name="twitter:creator" content="@axelvaldezmx">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="https://escuchaen.casa/img/twitter-card.png">

  <meta property="og:locale" content="es_MX" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:url" content="https://escuchaen.casa/" />
  <meta property="og:site_name" content="Escucha en Casa" />
  <meta property="og:image" content="https://escuchaen.casa/img/twitter-card.png" />
  <meta property="og:image:secure_url" content="https://escuchaen.casa/img/twitter-card.png" />
  <meta property="og:image:width" content="1600" />
  <meta property="og:image:height" content="837" />
  <meta property="og:image:alt" content="A person listening to podcasts at home" />
</head>

<body>
  {{ content }}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/1eaaaceb36.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
    crossorigin="anonymous"></script>
</body>

</html>